.info_about_person{
    & .main_info {
        background: linear-gradient(to bottom right, #eee, #fff);

        & .container_main_info{
            display: flex;
            text-align: left;
            margin-left: 23%;
            margin-right: 25%;

            & img{
                margin-top: 25px;
                margin-bottom: 35px;
                border-radius: 4px;
                box-shadow: 0 0 4px rgba(0,0,0,0.2);
            
            }

            & .biography{
                margin-left: 25px;
                & p{
                    max-height: 9.8em;
                    overflow: hidden;
                    padding-left: 2px;
                    padding-right: 2px;
                    font-size: 1em;
                    line-height: 1.4em;
                }
                
                & h1{
                    margin-bottom: 10px;
                }

                & h3{
                    margin-top: 15px;
                }


                & .guestLinks{
                    cursor: default;
                    border: 2px solid gray;
                    box-sizing: border-box;
                    background: rgba(0,0,0,0.2);
                    color: #000;
                    border-radius: 50%;
                    width: 46px;
                    height: 46px;
                    padding-right: 2px;
                    display: inline-flex;
                    position: relative;
            
                    & .icon{
                        color: gray;
                        position: absolute;
                        transition: .3s linear; 
                        top: 10px; 
                        left: 11px; 
            
                    }
                }
                
                & .authLinks{
                    border: 2px solid  black;
                    box-sizing: border-box;
                    background:  #eee;
                    color: #000;
                    border-radius: 50%;
                    width: 46px;
                    height: 46px;
                    padding-right: 2px;
                    display: inline-flex;
                    position: relative;
            
                    & .icon{
                        color: black;
                        position: absolute;
                        transition: .3s linear; 
                        top: 10px; 
                        left: 11px; 
            
                    }
                }    
                .authLinks:hover{
                    border: 2px solid  green;
                    background:green;
                    transition: .3s linear; 
                    & .icon{
                        color:white; 
                    }
                }
            }
            }
        }

    

    & .addition_info{
        display: flex;
        margin-bottom: 15px;
        & .personal_info{
            background: linear-gradient(to bottom right, #eee, #fff);
            padding-left: 25%;
            & .container_personal_info{
                width: 100%;
                text-align: left;
                padding-left: 30%;
                margin-left: -95px;
                margin-right: 115px;
                margin-top: 25px;

                & p{
                    margin: 0;
                }

                & .known_for_department ,
                & .gender,
                & .credits,
                & .birthday,
                & .deathday,
                & .place_of_birth,
                & .site,
                & .also_know_as{
                    margin-bottom: 15px;
                }

                & .also_know_as p{
                    margin-bottom: 10px;
                }

                & .site a {
                        color:black;
                        font-weight: normal; 
                        text-shadow: 0px 0px 0 #000
                }
            }
        }

        & .known_for{
            display: flex;
            flex-direction: column;
            margin-left: 65px;
            margin-top: 25px;
            & .known_for__title{
                text-align: left;
            }
            & .known_for__container_with{
                display: flex;
                flex-wrap: wrap;
                margin-right: 32%;
                
                & .known_for_block{
                    max-width: 150px;
                    margin-right: 15px;
                    margin-bottom: 15px;

                    & a {
                        font-size: 0.9em;
                        color:black;
                        font-weight: normal; 
                        text-shadow: 0px 0px 0 #000
                    }

                }
            }

        }
    }
    h3{
        margin: 0;
        margin-bottom: 15px;
    }
}